<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>faq</ion-title>
    <i class="material-icons">menu</i>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">faq</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <i class="fas fa-hands"></i>
   <i class="fa-brands fa-accessible-icon"></i>
  
   
   <img src="../../assets/OIP (1).jpg" alt="" width="20px">
     

   <i class="fas-duotone fa-solid fa-text-size"></i>
   <i class="fa-solid fa-microphone-lines"></i>
   <i class="fa-solid fa-circle-half-stroke"></i>

   <h6>PERGUNTAS FREQUENTES</h6> 
   <h6>Ficou com alguma duvida?</h6>
   <h6>Onde comprar?</h6>
   <h6>Qual prazo de entrega?</h6>
   <h6>Posso devolver o veiculo?</h6>
   <h6>Quais os planos de parcelamento?</h6>
   <p>Se ainda não tivermos respondido sua pergunda vocé pode entrar em contado conosco que lhe responderemos o mais breve possivel. </p>
   <div class="rectangle">

   </div>
   <i class="fa-solid fa-envelope"></i>
   <img id="imagem_cadeirante" src="../../assets/pngtree-vector-question-mark-icon-png-image_1024598.jpg" alt="center" width="12px">   
</ion-content>

