<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perguntas Frequentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perguntas Frequentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-acessibilidade></app-acessibilidade>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" >
        <ion-label (click)="falar('Como comprar? Usando nosso aplicativo, você pode comprar negociando direto com o vendedor.')">
          <span class="texto">Como comprar?</span>
        </ion-label>
      </ion-item>
      <div class="ion-padding texto" slot="content">Usando nosso aplicativo, você pode comprar negociando direto com o vendedor.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" >
        <ion-label (click)="falar('Posso pagar pelo aplicativo? Não, nosso aplicativo apenas fornece a tecnologia para conectar compradores e vendedores de veículos adaptados.')">
          <span class="texto">Posso pagar pelo aplicativo?</span>
        </ion-label>
      </ion-item>
      <div class="ion-padding texto" slot="content">Não, nosso aplicativo apenas fornece a tecnologia para conectar compradores e vendedores de veículos adaptados.</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" >
        <ion-label (click)="falar('Sou vendedor, como posso anunciar um veículo? Você pode entrar em contato com nosso suporte, clicando no botão abaixo. Ficaremos felizes em anunciar seu veículo.')">
          <span class="texto">Sou vendedor, como posso anunciar um veículo?</span>
        </ion-label>
      </ion-item>
      <div class="ion-padding texto" slot="content">Você pode entrar em contato com nosso suporte, clicando no botão abaixo. Ficaremos felizes em anunciar seu veículo.</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item>
    <p class="texto texto-aindacomduvidas" (click)="falar('Se ainda tiver dúvida, vocé pode entrar em contado conosco, clicando no botão abaixo, que lhe responderemos o mais breve possivel.')">
      Se ainda tiver dúvida, vocé pode entrar em contado conosco, clicando no botão abaixo, que lhe responderemos o mais breve possivel.
    </p>
  </ion-item>

  <ion-button routerLink="/pesquisa" expand="block" class="texto">Entrar em Contato</ion-button>
</ion-content>

