<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <i class="fas fa-hands"></i>
   <i class="fa-brands fa-accessible-icon"></i>

   <i class="fas-duotone fa-solid fa-text-size"></i>
   <i class="fa-solid fa-microphone-lines"></i>
   <i class="fa-solid fa-circle-half-stroke"></i>
   <br><br>
  <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <br>
      <ion-title size="large">Contato</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-input label="Nome" labelPlacement="floating" placeholder="degite seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Email" labelPlacement="floating" placeholder="degite seu Email"></ion-input>
  </ion-item>
  <ion-item>
  <ion-input label="assunto" labelPlacement="floating" placeholder="degite seu assunto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="mensagem" labelPlacement="floating" placeholder="digite sua mensagem" rows="5"></ion-textarea>
  </ion-item>
   <ion-button expand="full">envia mensagem</ion-button>

    
   
</ion-content>
