<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <br>
      <ion-title size="large">Contato</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-acessibilidade></app-acessibilidade>
  <ion-list>
    <ion-item>
      <ion-input label="Nome" labelPlacement="floating" placeholder="degite seu nome" class="texto" (ionFocus)="falar('Digite seu nome.')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Celular" labelPlacement="floating" placeholder="degite seu Celular" class="texto" (ionFocus)="falar('Digite o número do seu celular.')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Mensagem" labelPlacement="floating" placeholder="digite sua mensagem" rows="5" class="texto" (ionFocus)="falar('Digite sua mensagem.')"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="full" class="texto">Enviar Mensagem</ion-button>
</ion-content>
