<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

/* From Uiverse.io by faxriddin20 */ 
<div class="button-container">
  <button class="button">
    <svg
      class="icon"
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 1024 1024"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
       class="/* From Uiverse.io by TISEPSE */ 
       a {
         position: relative;
         display: inline-block;
         padding: 15px 30px;
         border: 2px solid #fefefe;
         text-transform: uppercase;
         color: #fefefe;
         text-decoration: none;
         font-weight: 600;
         font-size: 20px;
       }
       
       a::before {
         content: '';
         position: absolute;
         top: 6px;
         left: -2px;
         width: calc(100% + 4px);
         height: calc(100% - 12px);
         background-color: #212121;
         transition: 0.3s ease-in-out;
         transform: scaleY(1);
       }
       
       a:hover::before {
         transform: scaleY(0);
       }
       
       a::after {
         content: '';
         position: absolute;
         left: 6px;
         top: -2px;
         height: calc(100% + 4px);
         width: calc(100% - 12px);
         background-color: #212121;
         transition: 0.3s ease-in-out;
         transform: scaleX(1);
         transition-delay: 0.5s;
       }
       
       a:hover::after {
         transform: scaleX(0);
       }
       
       a span {
         position: relative;
         z-index: 3;
       }
       
       button {
         background-color: none;
         text-decoration: none;
         background-color: #212121;
         border: none;
       }"n
      ></path>
    </svg>
  </button>
  <button class="button">
    <svg
      class="icon"
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      aria-hidden="true"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
  </button>
  <button class="button">
    <svg
      class="icon"
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 24 24"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 2.5a5.5 5.5 0 0 1 3.096 10.047 9.005 9.005 0 0 1 5.9 8.181.75.75 0 1 1-1.499.044 7.5 7.5 0 0 0-14.993 0 .75.75 0 0 1-1.5-.045 9.005 9.005 0 0 1 5.9-8.18A5.5 5.5 0 0 1 12 2.5ZM8 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0Z"
      ></path>
    </svg>
  </button>

  <button class="button">
    <svg
      class="icon"
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="9" cy="21" r="1"></circle>
      <circle cx="20" cy="21" r="1"></circle>
      <path
        d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
      ></path>
    </svg>
  </button>
</div>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="Login">
  <img src="../../assets/logoserafimcar.png" alt="">
  <h6>usename</h6>
  <h6>password</h6>
  <br>
  <i class="fa-solid fa-house"></i>
  <br>
  <i class="fa-sharp fa-solid fa-lock"></i>
  <button>login</button>
</div>
</ion-content>