<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produto</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-acessibilidade></app-acessibilidade>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <h6 class="tomaz texto">KENGURU- carros para cadeirantes</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img id="imagem_kenguro" src="../../assets/Kenguru.jpg" alt="" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 class="joao texto valor">R$ 60.000</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="tomaz texto descricao">O Kenguru tem apenas uma porta, localizada em todo o painel traseiro, e destina-se a um único passageiro. Ao pressionar apenas um único botão, a porta abre-se e surge uma rampa para fácil acesso. Em vez de volante e pedais, este modelo utiliza botões de aceleração, travagem, e comandos direcionais.</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button routerLink="/vendedor" expand="block" class="texto">Falar com Vendedor</ion-button>
</ion-content>