<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pesquisa</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="pesquisa.page.scss">
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesquisa</ion-title>
    </ion-toolbar>
  </ion-header>
  <i class="fas fa-hands"></i>
  <i class="fa-brands fa-accessible-icon"></i>

  <i class="fas-duotone fa-solid fa-text-size"></i>
  <i class="fa-solid fa-microphone-lines"></i>
  <i class="fa-solid fa-circle-half-stroke"></i>
  <br>
  <ion-searchbar id="pesquisa-busca" placeholder="Digite aqui para pesquisar"></ion-searchbar>  
  <ion-grid>
    <ion-row>
      <ion-col>
        <img id="imagem_principal" src="../../assets/tipos-de-carros-1024x683 (1).jpg" alt="" width="250px">
        <h5 class="tomaz">Escolha seu carro e <br> financie agora!</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img routerLink="/produto" id="imagem_kenguro" src="../../assets/Kenguru.jpg" alt="" width="160px" height="114" class="comida">


      </ion-col>
      <ion-col>
        <img id="imagem_caminhonete" src="../../assets/toyota_hilux_2021_1_24062021_48497_1280_960.jpg" alt=""
          width="150px">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="tomaz">KENGURU- carros para cadeirantes</h6>
      </ion-col>
      <ion-col>
        <h6 class="tomaz">Caminhonetes a diesel</h6>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img id="imagem_Carrosesportivos" src="../../assets/15c566_129.webp" alt="" width="150px">

      </ion-col>
      <ion-col>
        <img id="imagem_cadeirante" src="../../assets/zzzzzz (1).webp" alt="" width="165px">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="tomaz">Carros esportivos com comando de voz</h6>

      </ion-col>
      <ion-col>
        <h6 class="tomaz">KENGURU- carros para cadeirantes</h6>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>