.serafim{
    text-align: center;
}
.tomaz{
 text-align: center;
}
.comida{
    position: relative;

}
.maria{
    display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;
}   
#imagem_principal{
    width: 100%;
}
#imagem_kenguro{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#imagem_caminhonete{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#imagem_Carrosesportivos{
    height: 100%;
     width: 100%;
     object-fit: cover;
}
#imagem_cadeirante{
    width: 100%;
    height: 100%
}
/* From Uiverse.io by faxriddin20 */ 
.button-container {
    display: flex;
    background-color: black;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  
  .button {
    outline: 10 !important;
    border: 10 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(255, 85%, 47%);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  /* From Uiverse.io by faxriddin20 */ 
.button-container {
    display: flex;
    background-color: black;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  #pesquisa-busca{
    color: #fff;
  }
  .icones-acessibilidade{
    display:flex;
    flex-direction:row;

  }
  .icones-acessibilidade div
  {
          flex:1;
          font-size:3.5rem;
          flex:1;
          font-size:1rem;
          text-align:center;
  }



  
